

.home{
    a{
        display: block;
    }
    .advent-day{

        .good-result{
            color: green;
        }

        .bad-result{
            color: red;
        }

        span{
            padding: 5px;
        }

        .forest{
            font-size: 10px;
            .forest-section{
                //letter-spacing: 5px;

                span{
                    padding: 0px;

                    &.person{
                        color: red;
                    }
                }
            }
        }


        .tree-container{
            .tree-level{
                display: flex;
                justify-content: space-evenly;
            }
        }

        table{

            &.chiton-table{
                tr{
                    td{
                        padding: 0;
                        width: 15px;
                        height: 15px;
                        line-height: 15px;
                        font-size: 12px;
                        text-align: center !important;
                    }
                }
            }
            &.basin-table{
                tr{
                    td{
                        width: 30px;
                        height: 30px;
                        padding: 0px;
                        line-height: 30px;
                        text-align: center !important;
                    }
                }
            }

            &.folding-table{
                tr{
                    td{
                        width: 15px;
                        height: 15px;
                        padding: 0px;
                        line-height: 15px;
                        text-align: center !important;
                        font-size: 15px;
                    }
                }
            }

            &.digit{
                margin: 15px;
                tr{
                    td{
                        border: 0px solid transparent;
                        padding: 0px;
                        width: 15px;
                        height: 15px;
                        line-height: 15px;
                        font-size: 15px;
                        text-align: center;
                        
                        &.alert-danger{
                            box-shadow: -4px 6px 3px 0px #32325d40, -2px 5px 3px -1px #0000004d;
                            color: #721c24;
                            background-color: #f8d7da;
                            border-color: transparent;
                            border: 0px solid transparent;
                        }

                        &:last-child{
                            text-align: center;
                        }
                    }
                }
            }
            caption-side: top;
            tr{
                td{
                    padding: 10px;
                    border: 1px solid #ccc;

                    &:last-child{
                        text-align: right;
                    }
                }
            }
        }

        .vent-map{
            table{
                thead{
                    th{
                        text-align: center;
                        width: 30px;
                        height: 30px;
                    }
                }
                tr{
                    td{
                        border: 1px solid #ccc;
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        
                        &.small{
                            border: 0px solid #ccc;
                            width: 1px;
                            height: 1px;
                        }
                    }
                }
            }

            .pair-list{
                padding-top: 50px;
                font-size: 25px;
            }
        }

        .segment-input{
            width: 30px;
        }
    }

    .rounded-circle{
        min-width: 31px;
        display: inline-block;
    }

    .bingo-container, .vent-map{
        margin-bottom: 10px;
        table{
            margin: auto;
            tr{
                td{
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    padding: 0;
                    text-align: center;
                    border-top: 1px solid #ccc;
                    border-left: 1px solid #ccc;
                    
                    &:last-child{
                        border-right: 1px solid #ccc;
                    }

                    &.selected{
                        background-color: red;
                    }
                }
                
                &:last-child{
                    td{
                        border-bottom: 1px solid #ccc;

                    }
                }
            }
        }
    }

    .winning-list{
        max-height: 250px;
        overflow: auto;
    }

}